<html>
    <head>
        <title>Rock, Paper, Scissors</title>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Rock, Paper, Scissors</h1>
            </div>
            <div class="col-md-6">
                <form action="/who_wins">
                <label for="rock"></label>
                <button id="rock" name="rock" type="button submit" class="btn-primary">
                    Rock</button>

                        <form action="/who_wins">
                        <label for="paper"></label>
                <button id="paper" name="paper" type="button submit" class="btn-success">
                            Paper</button>

                                <form action="/who_wins">
                                <label for="scissors"></label>
                <button id="scissors" name="scissors" type="button submit" class="btn-warning">
                                    Scissors</button>

                </form>
            </div>
    </body>
</html>
