<html>
    <head>
        <title>Rock, Paper, Scissors</title>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        {% set Rock = "Rock"%}
        {% set Paper = "Paper"%}
        {% set Scissors = "Scissors"%}
        <div class="container">
            <div class="jumbotron">
                <h1>Rock, Paper, Scissors</h1>
            </div>
            <div class="col-md-6">

    <form action="/player_2"  method="post">
      <button name="player_1_button" type="submit" value="rock" class="btn-success">rock</button>
      <button name="player_1_button" type="submit" value="paper"class="btn-primary">paper</button>
      <button name="player_1_button" type="submit" value="scissors" class="btn-warning">scissors</button>
    </form>



            </div>
    </body>
</html>
